In [11]:
#import modules
import numpy as np
import pandas as pd
import statistics
%matplotlib inline

In [2]:
#set up data frame
data = pd.DataFrame()
data['name'] = ['Greg', 'Marcia', 'Peter', 'Jan', 'Bobby', 'Cindy', 'Oliver']
data['age'] = [14, 12, 11, 10, 8, 6, 8]

In [3]:
data.head()

     name  age
0    Greg   14
1  Marcia   12
2   Peter   11
3     Jan   10
4   Bobby    8

### What are the mean, mediam, and mode?

#### mean

In [6]:
##calculate by hand
mean_by_hand = sum(data['age']) / len(data['age'])

##calculate using numpy
mean_np = np.mean(data['age'])

print(mean_by_hand)
print(mean_np)

9.857142857142858
9.857142857142858

#### median and mode

In [8]:
median_np = np.median(data['age'])
print(median_np)

10.0

In [12]:
mode_stat = statistics.mode(data['age'])
print(mode_stat)

8

### What are the variance, standard deviation, and standard error?

#### variance

In [15]:
var = sum((data['age'] - mean_np) ** 2) / (len(data['age']) - 1)
print(var)

7.476190476190475

In [19]:
np.var(data['age']) #why is this different?

6.408163265306122

In [20]:
data['age'].var()

7.476190476190475

#### standard devaition

In [22]:
std_dev = var ** 0.5
print(std_dev)

2.734262327610589

In [23]:
np.std(data['age'], ddof = 1)

2.734262327610589

#### standard error

In [24]:
se = std_dev / (len(data['age']) ** 0.5)
print(se)

1.0334540197243192

In [25]:
np.std(data['age'], ddof = 1) / np.sqrt(len(data['age']))

1.0334540197243192

I would pick the mean as my measure of central tendency and standard deviation as the measure of variance. These statistics are fairly easy to interpret and get a generally good summary of the data.

## Adjust data to accomodate Cindy's b-day

### Adjust the data

In [27]:
data2 = pd.DataFrame()
data2['name'] = ['Greg', 'Marcia', 'Peter', 'Jan', 'Bobby', 'Cindy', 'Oliver']
data2['age'] = [14, 12, 11, 10, 8, 7, 8]

In [28]:
data2.head()

     name  age
0    Greg   14
1  Marcia   12
2   Peter   11
3     Jan   10
4   Bobby    8

### Recalculate the mean, median, mode

In [30]:
mean_d2 = np.mean(data2['age'])
median_d2 = np.median(data2['age'])
mode_d2 = statistics.mode(data2['age'])
var_d2 = np.var(data2['age'])
std_d2 = np.std(data2['age'])
se_d2 = np.std(data2['age'], ddof = 1) / np.sqrt(len(data2['age']))

print(mean_d2)
print(median_d2)
print(mode_d2)
print(var_d2)
print(std_d2)
print(se_d2)

10.0
10.0
8
5.428571428571429
2.32992949004287
0.9511897312113418

After Cindy's birthday, the mean went up by a little bit, but the median and mode remained unchanged. The variance, standard deviation, and standard error got a little bit smaller.

## Adjust data to replace Oliver with Jessica

In [31]:
data3 = pd.DataFrame()
data3['name'] = ['Greg', 'Marcia', 'Peter', 'Jan', 'Bobby', 'Cindy', 'Jessica']
data3['age'] = [14, 12, 11, 10, 8, 7, 1]

In [33]:
mean_d3 = np.mean(data3['age'])
median_d3 = np.median(data3['age'])
#mode_d3 = statistics.mode(data3['age'])
var_d3 = np.var(data3['age'])
std_d3 = np.std(data3['age'])
se_d3 = np.std(data3['age'], ddof = 1) / np.sqrt(len(data3['age']))

print(mean_d3)
print(median_d3)
#print(mode_d3)
print(var_d3)
print(std_d3)
print(se_d3)

9.0
10.0
15.428571428571429
3.927922024247863
1.6035674514745462

I would still stay with mean and standard deviation as my choices, because they illustrate how changing the data points by adding extreme values effects the summary statistics.

## Fans of 50th anniversary show

I would estimate that somewhere around 20% of Americans were fans of the show. I would leave out the SciPhi Phanatic magazie estimate, because I think that demographic is very different from a sample of 'average' Americans and think that the other magazines' samples more closely approximate the true American population.